.idea
.DS_Store
node_modules/
.env
.envm
environment
.env.production
ecosystem.config.js
pgdata/
.*.swp
data/*
log/*
z_taxes
uploads
models/ss/dump.rdb
cronjob/node_modules
derived
notes
dist/
.astro/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*







