---
import { Icon } from 'astro-icon/components';

const socials: { url: string; icon: string; name: string }[] = [
  { url: 'https://x.com/moodengtron', icon: 'tabler:brand-x', name: 'Follow us on Twitter' },
  { url: 'https://t.me/moodengtron', icon: 'tabler:brand-telegram', name: 'Join our Telegram channel' },
  { url: 'https://github.com/moodengtron', icon: 'tabler:brand-github', name: 'Visit our GitHub repository' },
  { url: 'mailto:moodengtron@gmail.com', icon: 'tabler:mail', name: 'Send us an email' },
];
---

<div class="flex gap-12 text-white py-6">
  {
    socials.map(({ url, icon, name }) => (
      <a href={url} target="_blank" name={name} rel="noopener noreferrer" aria-label={name}>
        <Icon name={icon} class="size-16 hover:text-zinc-300" />
      </a>
    ))
  }
</div>
