<header class="w-100">
  <div class="items-center justify-center flex-col bg-gradient-to-tr from-lime-400 via-emerald-500 to-teal-700 p-12">
    <div class="max-w-7xl mx-auto flex flex-col items-center">
      <div class="size-80 aspect-auto rounded-full border-[18px] mb-12 bg-logo"></div>
      <div class="relative">
        <h1 class="font-heading font-bold text-5xl md:text-8xl text-white mb-6 tracking-wide">MOO DENG</h1>
        <p class="text-red-600 font-bold font-heading text-2xl md:text-4xl absolute top-[-36px] right-0">TRON</p>
      </div>
      <div class="flex items-center justify-center md:gap-12 flex-col md:flex-row gap-6">
        <a
          rel="noopener noreferrer"
          name="Medium article"
          class="outline outline-offset-0 outline-4 rounded-md flex items-center px-4 py-4 pb-2 outline-neutral-100 text-white bg-amber-600 text-2xl hover:outline-orange-500 font-heading"
          href="https://snowkidind.medium.com/moo-deng-1cb43b92a8c9"
          target="_blank">Info</a
        >
        <a
          rel="noopener noreferrer"
          name="Sunpump Buy Now"
          class="outline outline-offset-0 outline-4 rounded-md flex items-center px-4 py-4 pb-2 outline-neutral-100 text-white bg-blue-800 text-2xl hover:outline-blue-500 font-heading"
          href="https://sun.io/#/sun_swap/v2?lang=en-US&t0=T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb&t1=TSJzGxAZndouVCSFeXT84uTZDLQnoBkDYC&type=swap"
          target="_blank">Buy now</a
        >
        <a
          rel="noopener noreferrer"
          name="Dextools Chart"
          class="outline outline-offset-0 outline-4 rounded-md flex items-center px-4 py-4 pb-2 outline-neutral-100 text-white bg-red-600 text-2xl hover:outline-red-400 font-heading"
          href="https://www.dextools.io/app/en/tron/pair-explorer/TAxnxLq3u56qaFn9VZZA13yRWFC9SuB8np"
          target="_blank">Chart</a
        >
      </div>
    </div>
  </div>
</header>
