---
import { Image } from 'astro:assets';
import SocialShare from '~/components/SocialShare.astro';
import VideoFallback from '~/assets/images/new-buy.jpg';
---

<div class="w-100 bg-zinc-900 p-12 md:p-24 border-t-[20px] border-zinc-600">
  <div class="max-w-7xl mx-auto w-full h-auto">
    <div class="flex gap-8 items-center justify-center flex-col lg:flex-row">
      <div class="flex-1 text-center lg:text-left">
        <div class="font-bold text-2xl mb-6 text-white">
          Hi I'm <span class="font-heading text-white underline underline-offset-8 decoration-white text-3xl"
            >Moo Deng</span
          > on <span class="font-heading underline-offset-8 underline decoration-red-500 text-red-500 text-3xl"
            >TRON</span
          >
        </div>
        <SocialShare />
      </div>
      <div class="flex-1 w-full">
        <Image src={VideoFallback} alt="Moo Deng New Buy" class="rounded-xl text-center mx-auto" />
      </div>
    </div>
  </div>
</div>
