---
import { Image } from 'astro:assets';
import SocialShare from '~/components/SocialShare.astro';
import MooAlien from '~/assets/images/moodeng-alien.jpeg';
---

<div class="w-100 bg-zinc-900 p-24 border-t-[20px] border-zinc-600">
  <div class="max-w-7xl mx-auto w-full h-auto">
    <div class="flex gap-8 items-center justify-center flex-col lg:flex-row">
      <div class="flex-1 text-center lg:text-left">
        <h5 class="font-bold text-2xl mb-6 text-white">
          Hi I'm <span class="font-heading text-white underline underline-offset-8 decoration-white text-3xl"
            >Moo Deng</span
          > on <span class="font-heading underline-offset-8 underline decoration-red-500 text-red-500 text-3xl"
            >TRON</span
          >
        </h5>

        <!-- <p class="text-white text-lg !mb-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt urna vel lacinia semper.
          Maecenas non nisl sed ipsum tempus faucibus. Sed eget maximus magna. In metus massa, blandit vel ex non,
          venenatis dignissim diam. Phasellus turpis urna, facilisis sed lobortis aliquam, volutpat vel odio.
        </p> -->

        <SocialShare />
      </div>
      <div class="flex-1">
        <Image src={MooAlien} alt="Hi I'm Moo Deng on TRON" class="rounded-lg border-8" />
      </div>
    </div>
  </div>
</div>
