---
import { Image } from 'astro:assets';
import VideoFallback from '~/assets/images/moodeng-on-tron.png';
---

<div class="w-100 bg-zinc-900 p-6 md:p-24 border-t-[20px] border-zinc-600">
  <div class="max-w-7xl mx-auto w-full h-auto">
    <div class="flex gap-8 justify-center flex-col xl:flex-row">
      <div class="flex-1 text-center lg:text-left">
        <div class="font-bold text-4xl mb-6 text-white font-heading">
          Moo Deng <span class="text-xl text-yellow-400">on</span>
          <span class="text-red-500">TRON</span>
        </div>
        <p class="text-white text-lg !mb-0">
          Moo Deng is a female pygmy hippopotamus born on July 10, 2024, at the <a
            href="https://khaokheow.zoothailand.org/en/index.php"
            target="_blank"
            class="underline text-blue-400"
            rel="noopener noreferrer"
            title="Information about the Zoo">Khao Kheow Open Zoo</a
          > in Sriracha, Thailand. She has quickly become an internet sensation due to her adorable appearance and playful
          antics. Moo Deng was named after a pork dish. She is the offspring of Jonah and Tony, with siblings also named
          after pork dishes, reflecting a playful naming trend at the zoo. The TRON token, MOODENG is the first token on
          the TRON network in her name, and this is a site for the community (CTO) of Tron Enthusiasts who love Moo Deng.
        </p>
      </div>

      <div class="flex-1 w-full">
        <video autoplay loop muted class="rounded-xl mx-auto">
          <source src="/moodeng-tron.mp4" type="video/mp4" />
          <Image src={VideoFallback} alt="Moo Deng on TRON" class="rounded-xl text-center" />
        </video>
      </div>
    </div>
  </div>
</div>
